[submodule "plugins/termbox/termbox"]
	path = plugins/termbox/termbox
	url = https://github.com/nsf/termbox/
[submodule "plugins/json/jansson"]
	path = plugins/json/jansson
    url = https://github.com/akheron/jansson
[submodule "integration/atom/language-citron"]
    path = integration/atom/language-citron
    url = https://github.com/alimpfard/atom-language-citron
[submodule "libbsd"]
    path = libbsd
	url = https://github.com/LuaDist/libbsd.git

[submodule "bdwgc"]
	path = bdwgc
	url = https://github.com/ivami/bdwgc

[submodule "bdwgc/libatomic_ops"]
	path = bdwgc/libatomic_ops
	url = https://github.com/ivmai/libatomic_ops
