[submodule "plugins/termbox/termbox"]
	path = plugins/termbox/termbox
	url = https://github.com/nsf/termbox/
[submodule "plugins/json/jansson"]
	path = plugins/json/jansson
	url = https://github.com/akheron/jansson
