[submodule "plugins/termbox/termbox"]
	path = plugins/termbox/termbox
	url = https://github.com/nsf/termbox/
[submodule "plugins/json/jansson"]
	path = plugins/json/jansson
    url = https://github.com/akheron/jansson
[submodule "integration/atom/language-citron"]
    path = integration/atom/language-citron
    url = https://github.com/alimpfard/atom-language-citron
[submodule "src/lib/libbsd"]
	path = src/lib/libbsd
    url = https://github.com/LuaDist/libbsd.git
[submodule "tests/inject_test_suite/C"]
	path = tests/inject_test_suite/C
	url = https://github.com/c-testsuite/c-testsuite.git
[submodule "src/lib/libsocket/libsocket"]
	path = src/lib/libsocket/libsocket
	url = https://github.com/dermesser/libsocket
[submodule "Library"]
	path = Library
	url = https://github.com/alimpfard/citron_standard_library.git
[submodule "integration/atom/atom-citron-formatter"]
	path = integration/atom/atom-citron-formatter
	url = https://github.com/alimpfard/atom-citron-formatter
